@use './variables' as var;

// ===== Layout =====
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColPos($content: center, $items: center){
    display: flex;
    flex-direction: column;
    justify-content: $content;
    align-items: $content;
}

@mixin flexRowPos($content: center, $items: center) {
    display: flex;
    flex-direction: row;
    justify-content: $content;
    align-items: $items;
}
  

// ===== Headings =====
@mixin headings($size, $weight, $letterSpacing){
    font-family: var.$font-heading;
    width: 100%;

    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letterSpacing;
}

// ===== Subtitle =====
@mixin subTitle($color){
    color: $color;
    font-family: var.$font-heading;
    font-weight: 500;
    font-size: var.$font-subtitle-size;
    line-height: var.$font-subtitle-height;
}