@use './variables' as var;

// ===== Headings =====
@mixin headings($size, $weight, $letterSpacing){
    font-family: var.$font-heading;
    width: 100%;

    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letterSpacing;
}

// ===== Subtitle =====
@mixin subTitle($color){
    color: $color;
    font-family: var.$font-heading;
    font-weight: 500;
    font-size: var.$font-subtitle-size;
    line-height: var.$font-subtitle-height;
}