// ===== Font-Family =====
$font-body: "Roboto", sans-serif;
$font-heading: "Anek Telugu", sans-serif;


// ===== Colors =====
$color-text-dark: #000;
$color-text-light: #fff;
$color-grey: #adbdcc;

$color-purple-1: #6962f1;
$color-purple-2: #7000ff;
$color-blue-1: #00d4ff;
$color-primary-accent: #0a2540;

$color-bg-white: #fff;
$color-bg-light: #f7f9fc;

$color-btn-primary-hover: #6d7a88;

// ===== Font Size =====
$h1-size: 9.4rem;
$h1-height: 10.8rem;
$h2-size: 5rem;
$h2-height: 7.5rem;
$h3-size: 4rem;
$h4-size: 3.2rem;
$h5-size: 2.8rem;
$h6-size: 2.2rem;

$font-subtitle-size: 1.7rem;
$font-subtitle-height: 2.6rem;

$font-para-size: 1.8rem;
$font-para-height: 2.6rem;
$font-text-secondary-size: 1.4rem;
$font-text-secondary-height: 1.8rem;

$btn-font-size: 1.6rem;


// ===== Spacing =====
$spacing-sm: .8rem;
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;
$spacing-xl: 6.4rem;

// ===== Width =====
$width-full: 100%;
$width-half: 50%;
$width-standard: 114.4rem;

// ===== Box Shadow =====
$box-shadow-standard: 0px 2px 40px rgba($color-text-dark, 0.15);

