@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.btn-with-icon, .footer, .getting-started, .virtual-events, .global, .why-swipe, .integration, .graphic, .unified, .partners, .hero, .navbar .menu, .sessions-card .card-top, .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: #000;
  width: 100%;
  box-sizing: inherit;
  padding: 0.8rem 0 0 0;
}

main {
  width: 100%;
  margin: 6.4rem 0 0 0;
}

h1 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 9.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 10.8rem;
}

h2 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.25px;
  line-height: 7.5rem;
}

h3 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0px;
}

h4 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.25px;
}

h5 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0px;
}

h6 {
  font-family: "Anek Telugu", sans-serif;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0px;
}

a:link, a:visited {
  text-decoration: none;
  color: #6962f1;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.3s ease-in;
}
a:hover, a:active {
  color: #0a2540;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin: 1.6rem 0;
}

.subtitle-purple {
  color: #6962f1;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.subtitle-blue {
  color: #00d4ff;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.secondary-text {
  color: #adbdcc;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
}
.btn-primary {
  border-radius: 20px;
  padding: 0.8rem 1.6rem;
  background-color: #0a2540;
  color: #fff;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #6d7a88;
}
.btn-secondary {
  background-color: transparent;
  color: #0a2540;
  transition: opacity 0.3s ease;
}
.btn-secondary:hover {
  opacity: 0.75;
}
.btn-navbar {
  background: rgba(250, 250, 250, 0.25);
}
.btn-navbar:hover {
  background: rgba(250, 250, 250, 0.5);
}
.btn-container {
  gap: 0 1.6rem;
  margin: 1.6rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 1.6rem 0.8rem 0;
}
.card__img {
  width: 50px;
  margin: 0 0 0.8rem 0;
}
.card__heading {
  font-size: "Anek Telugu", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  width: 100%;
  margin: 0;
}

.sessions-card {
  width: 540px;
  height: 446px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}
.sessions-card .card-top {
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 10;
}
.sessions-card .card-top::before {
  content: "";
  background: linear-gradient(101.33deg, #08209a 0.76%, #6563ff 33.33%, #36c5f0 76.92%, #83e2ff 96.96%);
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  transform: skewY(-5deg);
  z-index: 1;
}
.sessions-card .card-top__logo {
  width: 338px;
  z-index: 2;
}
.sessions-card .card-top .avatar {
  position: absolute;
  bottom: -70px;
  left: 6.4rem;
  z-index: 3;
}
.sessions-card .card-top .avatar__img {
  width: 80px;
  position: relative;
}
.sessions-card .card-top .avatar__img:nth-child(2) {
  position: absolute;
  left: 65px;
}
.sessions-card .card-bottom {
  width: 100%;
  height: 50%;
  padding: 6.4rem;
}
.sessions-card .card-bottom .card-content {
  margin: 3.2rem 0 0;
}
.sessions-card .card-bottom .secondary-text {
  color: #000;
  font-weight: 700;
  width: 50%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 114.4rem;
  padding: 0 1.6rem;
}
.navbar .menu {
  gap: 0 1.6rem;
}
.navbar .menu__item-link:link, .navbar .menu__item-link:visited {
  color: #fff;
  font-weight: bold;
}
.navbar .menu__item-link:hover, .navbar .menu__item-link:active {
  text-decoration: underline;
}

.hero p {
  max-width: 50rem;
  margin-bottom: 1.6rem;
}
.hero-phone-container {
  height: 56.4rem;
  align-items: flex-end !important;
}
.hero-phone-img {
  height: 62.8rem;
  transform: translate(32px, -32px);
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3.2rem 1.6rem;
  margin: 6.4rem 0;
}
.partners-grid img {
  height: 6rem;
  place-self: center;
}

.unified {
  padding: 6.4rem 0;
}
.unified h3 {
  width: 50%;
  margin-bottom: 1.6rem;
}
.unified .btn-primary {
  background-color: #6962f1;
  margin: 1.6rem 0;
  transition: background-color 0.3s ease;
}
.unified .btn-primary:hover {
  background-color: #0a2540;
}

.grid-graphic {
  display: grid;
  grid-template-areas: "card slack slack" "phone slack slack" "phone dash dash";
  gap: 3.2rem;
  padding: 3.2rem 0;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

.integration {
  background-color: #0a2540;
  color: #fff;
}
.integration .card-container .card {
  width: 50%;
}
.integration .btn-primary {
  background-color: #00d4ff;
  color: #0a2540;
  margin: 1.6rem 0 0 0;
}
.integration .btn-primary:hover {
  background-color: #fff;
}
.integration .btn-secondary {
  color: #00d4ff;
}
.integration__img {
  max-width: 470px;
  border-radius: 20px;
}
.integration__img:not(:last-child) {
  margin: 0 0 1.6rem;
}

.why-swipe {
  margin: 6.4rem 0 0;
}
.why-swipe .card-container {
  margin: 3.2rem 0;
}
.why-swipe .card {
  width: 25%;
  padding: 0 0.8rem 0 0;
  margin: 0 1.6rem 0 0;
}
.why-swipe .secondary-text {
  color: #000;
}

.global {
  background-color: #0a2540;
  color: #fff;
  padding: 19.2rem 0;
  position: relative;
}
.global a:link,
.global a:visited {
  color: #00d4ff;
}
.global a:hover,
.global a:active {
  color: #fff;
}
.global .globe-img {
  width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
}
.global .card-container {
  margin: 12.8rem 0;
}
.global .card {
  width: 25%;
  padding: 0 0.8rem 0 0;
  margin: 0 1.6rem 0 0;
}
.global .card__heading {
  border-left: 2px solid #00d4ff;
  padding: 0 0 0 0.8rem;
  line-height: 28px;
}

.virtual-events {
  padding: 12.8rem 0;
}
.virtual-events .two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}
.virtual-events .btn-primary {
  background-color: #6962f1;
  margin: 1.6rem 0 0 0;
}
.virtual-events .btn-primary:hover {
  background-color: #0a2540;
}

.getting-started {
  padding: 6.4rem;
}
.getting-started .btn-primary {
  background-color: #6962f1;
  margin: 1.6rem 0;
}
.getting-started .btn-primary:hover {
  background-color: #0a2540;
}
.getting-started .btn-secondary {
  color: #7000ff;
  margin: 1.6rem 0;
}
.getting-started .card-container {
  margin: 0;
  gap: 0 0.8rem;
}
.getting-started .card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  background-color: #f7f9fc;
  padding: 6.4rem 0;
}
.footer .section-container {
  display: flex;
}
.footer-logo {
  max-width: 108px;
  margin: 0 0 1.6rem 0;
}
.footer-icon-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem 0;
}
.footer-icon-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.8rem;
}
.footer-icon__img {
  width: 24px;
}
.footer .col {
  width: 25%;
}
.footer .col h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.footer .col ul {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1.6rem 0;
}
.footer .col a:link,
.footer .col a:visited {
  color: #000;
  font-weight: normal;
}
.footer .col a:link:hover, .footer .col a:link:active,
.footer .col a:visited:hover,
.footer .col a:visited:active {
  color: #6962f1;
  text-decoration: underline;
}

.btn-with-icon > img {
  transition: transform 0.3s ease;
}
.btn-with-icon:hover > img {
  transform: translateX(5px);
}

.section-container {
  width: 100%;
  max-width: 114.4rem;
}

.card-container {
  display: flex;
  margin: 6.4rem 0;
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0 2rem;
}
.two-column .col-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 1.6rem;
}
.two-column .col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
