@use '../abstract/' as abs;

.getting-started{
    padding: abs.$spacing-xl;
    @include abs.flexCenter;

    .col-left{
        @include abs.respond(mobile){
            margin-bottom: abs.$spacing-lg;
        }
    }

    .btn-primary{
        background-color: abs.$color-purple-1;
        margin: abs.$spacing-md 0;

        &:hover{
            background-color: abs.$color-primary-accent;
        }
    }

    .btn-secondary{
        color: abs.$color-purple-2;
        margin: abs.$spacing-md 0;
    }

    .card-container{
        margin: 0;
        gap: 0 abs.$spacing-sm;
        
        @include abs.respond(tablet){
            flex-direction: column;
        }
    }

    .card{
        width: abs.$width-half;

        @include abs.flexColPos(flex-start, flex-start);

        @include abs.respond(tablet){
            width: abs.$width-full;
        }
    }
}