@use '../abstract/' as abs;

.global{
    background-color: abs.$color-primary-accent;
    color: abs.$color-text-light;
    padding: abs.$spacing-xl*3 0;

    position: relative;
    @include abs.flexCenter;

    a:link,
    a:visited{
        color: abs.$color-blue-1;
    }

    a:hover,
    a:active{
        color: abs.$color-text-light;
    }

    .globe-img{
        width: 844px;
        opacity: 25%;
        position: absolute;
        top: 10%;
    }

    .card-container{
        margin: abs.$spacing-xl*2 0;
    }

    .card{
        width: 25%;
        padding: 0 abs.$spacing-sm 0 0;
        margin: 0 abs.$spacing-md 0 0;

        &__heading{
            border-left: 2px solid abs.$color-blue-1;
            padding: 0 0 0 abs.$spacing-sm;
            line-height: 28px;
        }
    }
}