@use '../abstract/' as abs;

.integration{
    color: abs.$color-text-light;
    padding: abs.$spacing-xl*3 0;
    @include abs.flexCenter;
    position: relative;
    z-index: 10;


    &::before{
        content: "";
        background-color: abs.$color-primary-accent;
        width: 100%;
        height: 1100px;

        position: absolute;
        top: -32px;
        left: 0;
        z-index: -1;
        transform: skewY(-10deg);
    }

    &::after{
        content: "";
        background-color: abs.$color-bg-light;
        width: 100%;
        height: 50%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .col-left{
        @include abs.respond(tablet){
            width: 60%;
        }
    }

    .col-right{
        position: relative;
        overflow-x: hidden;

        @include abs.respond(tablet){
            width: 40%;
        }

        @include abs.respond(mobile){
            display: none;
        }
    }

    .card-container{
        @include abs.respond(tablet){
            flex-direction: column;
        }
    }

    .card-container .card{
        width: abs.$width-half;

        @include abs.respond(tablet){
            width: abs.$width-full;
        }
    }

    .btn-primary{
        background-color: abs.$color-blue-1;
        color: abs.$color-primary-accent;
        margin: abs.$spacing-md 0 0 0;

        &:hover{
            background-color: abs.$color-bg-white;
        }
    }

    .btn-secondary{
        color: abs.$color-blue-1;
    }

    &__img{
        max-width: 44rem;
        border-radius: 20px;

        &:not(:last-child){
            margin: 0 0 abs.$spacing-md;
        }

        @include abs.respond(mobile){
            display: none;
        }
    }
}