@use '../abstract/' as abs;

.integration{
    color: abs.$color-text-light;
    padding: abs.$spacing-xl*3 0;
    @include abs.flexCenter;
    position: relative;
    z-index: 10;

    &::before{
        content: "";
        background-color: abs.$color-primary-accent;
        width: 100%;
        height: 1100px;

        position: absolute;
        top: -32px;
        left: 0;
        z-index: -1;
        transform: skewY(-10deg);
    }

    .card-container .card{
        width: 50%;
    }

    .btn-primary{
        background-color: abs.$color-blue-1;
        color: abs.$color-primary-accent;
        margin: abs.$spacing-md 0 0 0;

        &:hover{
            background-color: abs.$color-bg-white;
        }
    }

    .btn-secondary{
        color: abs.$color-blue-1;
    }

    &__img{
        max-width: 470px;
        border-radius: 20px;

        &:not(:last-child){
            margin: 0 0 abs.$spacing-md;
        }
    }
}