@use '../abstract/' as abs;

.partners{

    &-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: abs.$spacing-lg abs.$spacing-md;
        margin: abs.$spacing-xl 0;
        

        img{
            height: 6rem;
            place-self: center;
        }
    }
}