@use '../abstract/' as abs;

.partners{
    @include abs.flexCenter;

    &-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: abs.$spacing-lg abs.$spacing-md;
        margin: abs.$spacing-xl 0;

        @include abs.respond(mobile){
            grid-template-columns: repeat(2, 1fr);
        }
        

        img{
            width: 100%;
            height: auto;
            place-self: center;
        }
    }
}