@use '../abstract/' as abs;

.unified{
    padding: abs.$spacing-xl 0;
    background-color: abs.$color-bg-light;

    @include abs.flexCenter;

    h3{
        width: abs.$width-half;
        margin-bottom: abs.$spacing-md;

        @include abs.respond(tablet){
            width: abs.$width-full;
        }
    }

    .btn-primary{
        background-color: abs.$color-purple-1;
        margin: abs.$spacing-md 0;

        transition: background-color .3s ease;

        &:hover{
            background-color: abs.$color-primary-accent;
        }
    }
}