@use '../abstract/' as abs;

.why-swipe{
    margin: abs.$spacing-xl 0 0;
    padding: abs.$spacing-xl*3 0;

    @include abs.flexCenter;

    .card-container{
        margin: abs.$spacing-lg 0;
        gap: abs.$spacing-md abs.$spacing-lg;
        flex-wrap: wrap;
    }

    .card{
        width: 20%;
        padding: 0;

        @include abs.respond(tablet){
            width: 45%;
        }

        @include abs.respond(mobile){
            width: abs.$width-full;
        }
    }

    

    .secondary-text{
        color: abs.$color-text-dark;
    }
}